src/db/properties.ini
.idea
.vscode
.ipynb_checkpoints
__pycache__
complete/models/*
simplified/models/*
*/data/archived
*/data/raw/*
!*/data/raw/batch_0.csv
*/data/interim/*
!*/data/interim/batch_0.csv
*/data/processed/*
!*/data/processed/batch_0.feather
src/monitor
.mlenv
mlruns