src/db/properties.ini
.idea
.vscode
.ipynb_checkpoints
__pycache__
*/models/*
*/data/archived
*/data/raw/*
!*/data/raw/batch_0.csv
*/data/interim/*
!*/data/interim/batch_0.csv
*/data/processed/*
!*/data/processed/batch_0.feather
complete_match_data.py
evaluate_model_acc.py
.mlenv
mlruns